* {
    /* Lo aplica a todos los elementos, se le llama css reset*/
    box-sizing: border-box;
    /* Modifica para que le tamaño no sea la suma de todo si no del contenido visible, no se hereda*/
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

#Caja {
    background-color: blue;
    padding: 10px 10px 5px 10px;
    border: 3px solid black;
    margin: 40px;
    width: 300px;
    height: 10px;
    overflow: auto; /* Añade un scroll si el contenido no alcanza*/
}

#contenido {
    background-color: #90EE90;
}

h1 {
    margin-bottom: 30px;
}